**/nn/
**/runs/
**/old_runs/
**/reference_runs/
**/keep/
**/venv/
**/.idea/
*.pyo
*.pyc
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
/dist/
/*.egg-info
/build/
__pycache__/
